@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&display=swap');
#main{
  background-color:#4d004d;
  font-family:"Caveat", sans-serif;
}
img{
  width:450px;
}
h1{
  font-weight:700;
  font-size:100px;
}
h2{
  font-weight:500;
  font-size:50px;
}
#navbar{
  position:fixed;
  width:100vw;
}
#navbar ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:black;
}
#navbar li{
  display:inline;
  float:left;
  font-size:30px;
  
}
#navbar a{
  padding:40px;
  color:white;
  display:block;
  text-decoration:none;
}
#navbar a:hover{
  cursor:pointer;
  background-color:#4d004d;
  color: white;
}

#welcome-section{
  margin:0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    color:white;
}
#projects{
  text-align:center;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  max-width:1440px;
  margin:0 auto;
  margin-bottom:50px;
  width:100%;
  grid-gap:100px;
  
}
#project-tile{
  display:box;
}
@media screen and (max-width: 880px) {
  body {
    background-color: #2e5cb8;
  }
  h1{
    font-size:80px;
  }
  h2{
    font-size:40px;
  }
  img{
    width:300px;
    left:50px;
  }
 
  #navbar ul{
    background-color:#2e5cb8;
  }
  #navbar a:hover{
    background-color:#2e5cb8;
  }
  #main{
    background-color:#2e5cb8;
  }
}
#projects a{
  color:white;
  text-decoration:none;
  font-size:30px;
  
}

p{
  color:white;
  text-decoration:none;
  font-size:30px;
}


