$font-family:"RobotoMono", sans-serif;
$font-weight:(
    "bold":700,
    "medium": 500,
    "normal": 300
);
$header-color: #4182be;
$border-color: #00cc99;
$li-color: peach;
$a-color: #4d4e53;
$a-hover-color: #d9e6f2;
$pre-color: #ffcc99;
$h3-color: #7aa7d1;
$mobile:800px;